name: Test and Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.2']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@e69dcf3ded5967f30d7ef595704928d91cdae930
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
        shell: bash
      - name: Rubocop Linting
        run: bundle exec rubocop
        shell: bash
      - name: Latex Install
        run: sudo apt-get install texlive-luatex && sudo apt-get install texlive
        shell: bash
      - name: Run tests
        run: bundle exec rake
        shell: bash
      - name: Upload Test Coverage
        uses: codecov/codecov-action@v4
        with:
          directory: ./coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
